.none {
  display: none !important;
}
.block {
  display: block !important;
}
#sidebar .sidebar-inner {
  width: 260px;
}

.mainactive {
  background: #1b2850;
  color: #fff;
  border-radius: 5px;
}
.sidebar{
  background-color: #fff
}